name: Deploy Site

on:
  workflow_run:
    workflows: [Generate Site]
    types: [completed]

jobs:
    # Build job
    build:
      runs-on: ubuntu-latest
      env:
        HUGO_VERSION: 0.111.3
      steps:
        - name: Install Hugo CLI
          run: |
            wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb \
            && sudo dpkg -i ${{ runner.temp }}/hugo.deb          
        - name: Install Dart Sass Embedded
          run: sudo snap install dart-sass-embedded
        - name: Checkout
          uses: actions/checkout@v3
          with:
            submodules: true
            token: ${{ secrets.PUSH_TOKEN }}
        - name: Setup Pages
          id: pages
          uses: actions/configure-pages@v3
        - name: Install Node.js dependencies
          run: |
            cd loldrivers.io/
            [[ -f package-lock.json || -f npm-shrinkwrap.json ]] && npm ci || true
        - name: Build with Hugo
          env:
            # For maximum backward compatibility with Hugo modules
            HUGO_ENVIRONMENT: production
            HUGO_ENV: production
          run: |
            cd loldrivers.io/
            hugo \
              --gc \
              --minify \
              --baseURL "${{ steps.pages.outputs.base_url }}/"
        - name: Upload artifact
          uses: actions/upload-pages-artifact@v1
          with:
            path: ./loldrivers.io/public
  
    # Deployment job
    deploy:
        environment:
          name: github-pages
          url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest
        needs: build
        permissions:
          pages: write
          id-token: write
        steps:
          - name: Deploy to GitHub Pages
            id: deployment
            uses: actions/deploy-pages@v2